@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Base styles */
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.content {
  margin: auto;
  width: 600px;
  padding: 30px;
}
