.massName {
  background-color: #fff;
  width: 100%;
  border: none;
  padding: 0;
  font-size: 38px;
}

.massDateTime {
  background-color: #fff;
  border: none;
  padding: 0;
  font-size: 22px;
  margin-bottom: 0.5em;
}

.massDateTime:disabled {
  background-color: #fff;
  border: none;
  padding: 0;
}

.lyrics {
  white-space: pre-wrap;
}

.lyricsText {
  background-color: #fff;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
